<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>管理员端首页</title>
    <link rel="stylesheet" href="/component/personal-css/AdminHomePage.css" type="text/css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/component/personal-css/admin/admin-homePage.css" type="text/css" />
</head>
<body background="/img/Admin/background.jpg" style="background-size: 100%;" >
<div id="all" style="width: 1470px;height: 680px;">
    <div id="top" style="height: 100px;">
        <div id="topleft" style="width: 300px;height: 98px;margin: 2px 0px 0px 2px;position: absolute;">
            <div id="topleftimage">
                <img id="topleftimagin" src="/img/Admin/Admin.png" style="height: 80px;width: 80px;margin-top: 5px;margin-left: 5px;float: left;">
            </div>
            <div id="topleftfont" style="float: right;">
                <p><font color="#f5f5f5">管理员,欢迎您</font><br>
                    <font color="#f5f5f5">当前时间:</font>
                <div id="dateTime" class="timeFont"></div>
                </p>
            </div>
        </div>
        <div id="topmiddle">
            <div id="topmiddlefont">
                扶贫助农电子商务平台管理端
            </div>
        </div>
        <div id="topright" style=" width: 100px;">
            <div>
                <fieldset>
                    <legend align=center><font size="2px" color="#f5f5f5">本地天气</font></legend>
                    <div class="Contain">
                        <div class="Other">
                            <iframe width="200" scrolling="no" height="65" frameborder="0"  style="color: whitesmoke" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1">
                            </iframe>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div id="middle" style="margin-bottom:250px;">
        <div id="middleleft"  style="width:200px;height:500px;border-right: 2px solid #636463;background-color: #b3b5b3;float: left;">
            <div id="bigfont" style="margin-left: 50px;" >
                <font size="5px" face="华文仿宋"><b>功能菜单</b></font>
            </div>
            <br>
            <div class="mainDiv1">
                <ul id="accordion" class="accordion">

                    <li><div class="link"><i class="fa fa-globe"></i>用户管理<i class="fa fa-chevron-down"></i></div>
                        <ul class="submenu">
                            <li><a href="/admin/userManage/addUser" style="font-family: 方正粗黑宋简体">用户添加</a></li>
                            <li><a href="/admin/userManage/userWatigList" style="font-family: 方正粗黑宋简体">用户信息审核</a></li>
                            <li><a href="/admin/userManage/userInfoList" style="font-family: 方正粗黑宋简体">查看所有用户</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>

        <div id="middleright" style="width: 1262px;height:500px;float: right;">
            <div style="margin-left: 450px;margin-top: 200px">
                <font size="5px" face="幼圆"><b>请根据左侧菜单栏选择具体功能项</b></font>
            </div>
        </div>
    </div>

    <div id="bottom" style="height:72px;width: 1468px;margin-top: 500px;">
        <!--此处有底部滚动字幕-->
    </div>
</div>

<!--需要导入的JS文件-->
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="/component/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!--底部滚动字幕-->
<script src="/component/personal-js/admin/admin-bottom.js"></script>
<!--导航栏旁的动态时间-->
<script src="/component/personal-js/admin/admin-addUser-time.js"></script>
<!--菜单栏的展开和收起-->
<script src="/component/personal-js/admin/admin-menu.js"></script>
</body>
</html>