<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <link rel="stylesheet" href="/component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/component/personal-css/topNav.css">
    <script src="/component/jquery-2.1.1/jquery.min.js"></script>
    <script src="/component/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>

<style type="text/css">
    .bottom-img { text-align:center; width:100%; height:70px; background-color:#56ac69; }
    .ul-color{color: #ff8a27
    }
    .p{color:black}
</style>
<!--网站图标和搜索框-->
<div class="headerer">
    <div class="sysname-div">
        <img id="logoimg" class="logoimg" src="/img/logo.jpg">
        <label for="logoimg">扶贫助农电子商务平台 </label>
    </div>
    <div class="searcher" >
        <input type="text" class="kuang" name="keyword" id="keyword" value="">
        <a href="javascript:searchOnClick()"><input name="imageField" type="image" src="/img/search.jpg" width="60" height="36" border="0" style="border:none;"></a>
    </div>
</div>
<!--导航栏-->
<div class="nav-bg">
    <div class="nav-er" id="topNav_ul">
        <ul >
            <li ><a href="javascript:toIndex()">网站首页</a></li>

            <li  ><a href="javascript:toIndustrialBelt()" >特色产业带</a></li>

            <li ><a href="javascript:toProductCenter()" >产品中心</a></li>

            <li ><a href="javascript:toClassification()" >采供分类</a></li>

            <li ><a href="#" >名企优录</a></li>

            <li ><a href="#" >农博会</a></li>

            <li ><a href="#" >品牌集</a></li>

            <li ><a href="#" >助农行动</a></li>

            <li ><a href="#" >资讯中心</a></li>

        </ul></div>
</div>

<div class="container" style="border: 1px solid rgba(0, 0, 0, 0.2);margin-top: 20px;margin-bottom: 40px">
    <div class="row clearfix">
        <!--产品信息-->
        <div class="col-md-8 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img width="100%" height="100%" th:src="${cropInfo.getPicturelocation()}" />
                </div>
                <div class="col-md-6 column" >
                    <h3><span id="productName" th:text="${cropInfo.getName()}"></span></h3>
                    <span id="productId" style="display: none" th:text="${cropInfo.getId()}"></span>
                    <hr>
                    <div style="color: #d0781e">单价：<span th:text="${cropInfo.getUnit()} + '元/kg'"></span></div>
                    <hr>
                    <div style="color: #d0781e">销售量：<span th:text="${cropInfo.getSales()} + 'kg'"></span></div>
                    <hr>
                    <div style="color: #d0781e">库存：<span th:text="${cropInfo.getRepertory()} + 'kg'"></span></div>
                    <hr>
                </div>
                <!--购物车及购买按钮-->
                <div class="row clearfix">
                    <div class="col-md-4 column">
                    </div>
                    <div class="col-md-4 column">
                        <button type="button" class="btn btn-warning btn-lg" onclick="javascript:addToCart()">加入购物车</button>
                        <button type="button" class="btn btn-success btn-lg" onclick="javascript:settleAccount()">购买</button>
                    </div>
                    <div class="col-md-4 column">
                    </div>
                </div>
            </div>
            <hr>
            <div class="tabbable" id="tabs-45086">
                <ul class="nav nav-pills" style="background: #b4d5e3">
                    <li class="active">
                        <a href="#panel-505440" data-toggle="tab">详细信息</a>
                    </li>
                </ul>
            </div>
            <h2>
                <span th:text="${cropInfo.getName()}"></span>
            </h2>
            <p>
               <span th:text="${cropDetailInfo}"></span>
            </p>


        </div>
        <div class="col-md-4 column">
            <div class="row clearfix">
                <!--商户信息-->
                <div class="col-md-12 column">
                    <div class="tabbable" id="tabs-485963">
                        <ul class="nav nav-pills" style="background: #b4d5e3">
                            <li class="active">
                                <a href="#panel-662840" data-toggle="tab">商户信息</a>
                            </li>
                        </ul>
                    </div>
                    <table class="table">
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td>
                                <span class="glyphicon glyphicon-list-alt" style="color: rgb(255, 140, 60);"></span>
                            </td>
                            <td>
                                发布者：
                            </td>
                            <td>
                                <span id = "sellerName" th:text="${cropInfo.getSeller()}"></span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>
                                <span class="glyphicon glyphicon-list-alt" style="color: rgb(255, 140, 60);"></span>
                            </td>
                            <td>
                                联系电话：
                            </td>
                            <td>
                                <span th:text="${userInfo.getTelephone()}"></span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row clearfix">
                <!--最新供应信息-->
                <div class="col-md-12 column">
                    <div class="tabbable" id="tabs-308297">
                        <ul class="nav nav-pills" style="background: #b4d5e3">
                            <li class="active">
                                <a href="#panel-815373" data-toggle="tab">最新供应信息</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-815373">
                                <div class="row">
                                <ul class="ul-color">
                                    <li >
                                        <div class="p">
                                            <span th:text="${cropIdList.get(0)}" style="display: none"></span>
                                            <a href="javascript:getSpan1()"><span  id="spanFirst" th:text="${cropNameList.get(0)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(0)}"></span>
                                        </div>
                                    </li>
                                    <li >
                                        <div class="p">
                                            <span th:text="${cropIdList.get(1)}" style="display: none"></span>
                                            <a href="javascript:getSpan2()"><span id="spanSecond" th:text="${cropNameList.get(1)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(1)}"></span>
                                        </div>
                                    </li>
                                    <li >
                                        <div class="p">
                                            <span th:text="${cropIdList.get(2)}" style="display: none"></span>
                                            <a href="javascript:getSpan3()"><span id="spanThird" th:text="${cropNameList.get(2)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(2)}"></span>
                                        </div>
                                    </li>
                                    <li >
                                        <div class="p">
                                            <span th:text="${cropIdList.get(3)}" style="display: none"></span>
                                            <a href="javascript:getSpan4()"><span id="spanForth" th:text="${cropNameList.get(3)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(3)}"></span>
                                        </div>
                                    </li>
                                    <li >
                                        <div class="p">
                                            <span th:text="${cropIdList.get(4)}" style="display: none"></span>
                                            <a href="javascript:getSpan5()"><span id="spanFifth" th:text="${cropNameList.get(4)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(4)}"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="p">
                                            <span th:text="${cropIdList.get(5)}" style="display: none"></span>
                                            <a href="javascript:getSpan6()"><span id="spanSixth" th:text="${cropNameList.get(5)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(5)}"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="p">
                                            <span th:text="${cropIdList.get(6)}" style="display: none"></span>
                                            <a href="javascript:getSpan7()"><span id="spanSeventh" th:text="${cropNameList.get(6)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(6)}"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="p">
                                            <span th:text="${cropIdList.get(7)}" style="display: none"></span>
                                            <a href="javascript:getSpan8()"><span id="spanEighth" th:text="${cropNameList.get(7)}"></span></a>
                                            <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上新时间：' + ${cropTimeList.get(7)}"></span>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--网页底部-->
<div class="bottom-img">
    <img src="/img/bottomPage.png" width="988" height="70">
</div>
<script src="/component/personal-js/productCenter.js"></script>
<!--判断是否添加购物车成功-->
<span id="judgeAddToCart" th:text="${addToCartFlag}" style="display: none"></span>
<span id="judgeSettleAccount" th:text="${settleAccountFlag}" style="display: none"></span>
<script>
    // var addToCartFlag = document.getElementById("addToCartFlag").innerText;
    // var buyThisCrop = document.getElementById("addToCartFlag").innerText;
    // var logUser = document.getElementById("logUser").innerText;
    // var productName = document.getElementById("productName").innerText;
    var judgeAddToCart = document.getElementById("judgeAddToCart").innerText;
    if(judgeAddToCart == 1005){
        alert("您所需的商品已添加至购物车，继续逛逛吧~");
    }
    var judgesettleAccount = document.getElementById("judgeSettleAccount").innerText;
    console.log(judgesettleAccount);
    if(judgesettleAccount == 1008){
        alert("您所购买的商品下单成功，继续逛逛吧~");
    }
</script>
<!--读取最新供应信息的JS-->
<script src="/component/personal-js/topPublic.js"></script>
<!--结算（获取产品名）-->
<script>
    function settleAccount(){
        var productId = document.getElementById("productId").innerText;
        window.location.href="/settleAccount?productId=" + productId;
    }
    function addToCart(){
        var productId = document.getElementById("productId").innerText;
        window.location.href = "/addToCart?productId=" + productId;
    }
    function searchOnClick(){
        var searchParam = document.getElementById("keyword").value;
        window.location.href="/searchCropList?keyWord=" + searchParam;
    }
</script>
</body>
</html>