ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
a:link,a:visited {
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#bebebe;
    width:120px;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
a:hover,a:active{
    background-color: #1874a4;
}
.useBtn{
    width: 75px;
    text-align: center;
    height: 100%;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: rgba(24, 116, 164, 0.95);
    border-radius: 5px;
}
.useBtn:hover {
    background-color: #185680;
    border-radius: 5px;
    cursor: pointer;
}